@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>ViewBag.Form</p>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Wiek</h2>
            <form action="Result" method="GET">
                <div class="mb-3">
                    <label class="form-label" for="x">Imie</label>
                    <input class="form-control" type="text" name="x" step="0.00001" id="x" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="operator">Operator</label>
                    <input class="form-control" type="text" name="operator" id="operator" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="y">Data</label>
                    <input class="form-control" type="number" name="y" step="0.00001" id="y" />
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Oblicz</button>
                </div>
            </form>
        </div>
    </div>
</div>
