@{
    ViewData["Title"] = "Home Page";
}
<style>
    p {
        background-color: black;
        margin-left: 500px;
        margin-right: 500px;
        color: white;
        
    }
    
</style>

<div class="text-center">
    <h1 class="display-4">Witamy! </h1>
    <h4>Last visit: @ViewBag.LastVisitDate</h4>
    <p> <a class="nav-link text-white" asp-area="" asp-controller="Computer" asp-action="Index">Komputery</a> </p>
</div>
