@model Contact
@{
    ViewData["Title"] = "Home Page";
}

<h1>Czy na pewno chcesz usunąć kontakt?</h1>
<p>imię</p>
<h3>@Model.Name</h3>
<p>email</p>
<h3>@Model.Email</h3>
<form asp-action="Delete">
    <input asp-for="Id"/>
    <button class="btn btn-danger" type="submit">Tak</button>
    <a class="btn btn-close" asp-action = "Index">Nie</a>

</form>