@model Computer
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>

    body {
        font-family: sans-serif;
        background-color: #f8f8f8;
    }

    h2 {
        display: flex;
        margin-left: 500px;
        margin-top: 20px;
    }

    .container {
        position: relative;
        overflow: hidden;
        width: 1700px;
        height: 700px;
        margin: 40px auto 0;
        background-color: white;
    }

    .btn.btn-primary {
        background-color: black;
        margin-left: 560px
    }

    .a:active {
        background-color: black;
    }



    .form-check-input {
        background-color: black;
    }

</style>
<h2>Edytuj komputer</h2>
<form asp-controller="Computer" asp-action="Update" method="post">
    <input asp-for="Id"/>

    <div class="mb-4">
        <label asp-for="Name">Nazwa</label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-4">
        <label asp-for="Processor">Procesor</label>
        <input class="form-control" asp-for="Processor" />
        <span class="text-danger" asp-validation-for="Processor"></span>

    </div>
    <div class="mb-4">
        <label asp-for="Memory">Pamięć</label>
        <input class="form-control" asp-for="Memory" />
        <span class="text-danger" asp-validation-for="Memory"></span>

    </div>
    <div class="mb-4">
        <label asp-for="GraphicsCard">Karta Graficzna</label>
        <input class="form-control" asp-for="GraphicsCard" />
        <span class="text-danger" asp-validation-for="GraphicsCard"></span>

    </div>
    <div class="mb-4">
        <label asp-for="Producer">Producent</label>
        <input class="form-control" asp-for="Producer" />
        <span class="text-danger" asp-validation-for="Producer"></span>

    </div>
    <div class="mb-4">
        <label asp-for="DateOfProduction">Data produkcji</label>
        <input class="form-control" asp-for="DateOfProduction" />
        <span class="text-danger" asp-validation-for="DateOfProduction"></span>

    </div>
    <div>
        <label asp-for="Status">Status</label>
        <div>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <select class="form-control" asp-for="Status" asp-items="@Html.GetEnumSelectList<UsageStatus>()"></select>
    </div>
    <div class="mb-4">
        <button class=" btn btn-primary" type="submit">Zapisz</button>
    </div>

</form>